<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Contact Cards (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Contact Cards (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ContactCardQRCodeExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ContactCardQRCodeMacOSExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SelectContactIntent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SelectContactIntentMacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ShowCardSiriIntent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ShowCardSiriIntentUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F132ADF27DBEE29002610C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F132AFD27DBF7A7002610C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F73C4CE27362E9D0095A979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F73C4D427362E9D0095A979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F73C4DB27362E9D0095A979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F73C4E727362E9D0095A979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F74EBBB27DE123700C6A506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F74EBCB27DE12EB00C6A506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F909FFC27F26071004F01A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F90A00627F26071004F01A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F90A02A27F262CC004F01A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC50D9527DC04100040F336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC50DB127DC04C60040F336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
